 <ul class="nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle menuHaut"><span class="glyphicon glyphicon-user"></span>  Mon compte <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Poster une annonce</a></li>
                    <li><a href="#">Mes annonces</a></li>
                    <li><a href="#">Ma boutique</a></li>
                    <li><a href="#">Mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Deconnection</a></li>
                </ul>
            </li>
        </ul>