
.banniere
{
    margin-left: 0px;
    margin-top: 51px;
}



/*@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);*/

body {

}

/*Caroussel*/

.carousel-control.left
{
    background: none;
}
.carousel-control.right
{
    background: none;
}

.carousel-control
{
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: auto;
    color: #fff;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}
.carousel-control:hover
{
    color: #000;
}
/*.carousel-indicators
{
    bottom: -50px;
}
.carousel-indicators li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #16a085;
    border-radius: 50%;
}
.carousel-indicators .active
{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #16a085;
}*/
.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
.ca{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 51px;
    
}

/*Contenu*/

/* ----------------------------
 * Callouts
 * ----------------------------
 */

.callout-dark {
	padding: 10px;
	color: #fff;
	background-color: #337ab7;
}

.callout-dark h1,
h2,
h3,
h4 {
	font-weight: 300;
	line-height: 1;
}

.callout-dark p {
	color: #B1B1B1;
	font-size: 17px;
}

img {
    width: 100%;
    height: auto;
}
.single-blog-item {
    border: 1px solid #dfdede;
    box-shadow: 2px 5px 10px #dfdede;
    margin: 30px auto;
    padding: 5px;
    position: relative;
}
.blog-content {
    padding: 15px;
}
.blog-content h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.blog-content h4 a{
    color:#777;
}
.blog-content p{
    color: #999;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3333;
}
.blog-date{
}
.blog-date {
    position: absolute;
    background: #337ab7;
    top: 35px;
    left: 5px;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
}
.more-btn {
    background: #337ab7;
    border-radius: 2px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 30px auto auto auto;
    text-align: center;
    width: 110px;
    color: #f1f1f1;
}