{% extends "::layout.html.twig" %}

{% block titre %}{{ parent() }}
{% endblock %}

{% block css %} {{ parent() }}	{% endblock %}

{% block menuhaut %}
{% endblock %}

{% block body %}
    <div>
      <img src="{{asset('bundles/lescadplatforme/images/banner.png')}}" alt="LESCAD Banner" style="width:100%; padding-top:51px; padding-bottom: 10px;">
      
    </div>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block lescadplatforme_body %}
  {% endblock %}
{% endblock %}