{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class ="well">
        <h1 class="text-center"> Inscription </h1><hr/>
{% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
