
<li><a href="{{ path('lescadusermatiereadd') }}">Ajouter une matière</a></li>
<li><a href="{{ path('lescaduserformationadd') }}">Ajouter une formation</a></li>
<li><a href="{{ path('lescadusercategorieadd') }}">Ajouter une catégorie</a></li>